<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner2.jpg') %>);">
  <div class="container">
    <h1>My Watchlist</h1>
    <p>All the movies I want to watch in one place</p>
   <%= link_to "Create a movie list", new_list_path, class: "btn btn-danger my-5" %>
  </div>
</div>


<div class="container mt-5">
  <h1 class="mb-5">My lists</h1>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-6 col-lg-4">
        <%= link_to list_path(list) do %>
          <%# <div class=""shadow rounded p-3 mb-3""> %>
          <div class="card-pick">
            <%# <img src="" alt=""> %>
            <div class="card-pick-info">
              <h3 class="mb-3"><%= list.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>