<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner2.jpg') %>);">
  <div class="container">
    <h1>My Watchlist</h1>
    <p>All the movies I want to watch in one place</p>
   <%= link_to "Create a movie list", new_list_path, class: "btn btn-danger my-5" %>
  </div>
</div>


