<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path("random.jpg") %>)">
    <div class="container">
        <h1><%= @list.name %></h1>
        <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
    </div>
</div>

   


